*{
    margin: 0;
    padding: auto;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(Background.jpg);
    background-size: cover;
    background-position: center;
}
navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 1.5%;
    margin-left: 5%;
    width: 60px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    margin-right: 0;
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
ul{
    text-align: right;
    margin-right: 2%;
}

.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #131022;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 50%; /* Menggeser elemen span ke tengah */
    bottom: 0;
    transform: translateX(-50%); /* Menggeser kembali elemen span sejajar dengan tepi kiri */
    z-index: -1;
    transition: 0.7s;
}

button:hover span {
    width: 100%;
    left: 0; /* Mengembalikan elemen span ke posisi awal */
    transform: none; /* Menghapus transformasi translateX */
}

button:hover {
    border: none;
}


/*
.footer{
    grid-area: footer;
    background: rgb(70, 55, 55);
}
footer ul{
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    position : absolute;
    bottom : 0;
}
footer ul li{
    list-style: none;
    align-self: flex-end;
}
footer ul li a{
    text-decoration: none;
    color:  rgb(255, 255, 255);
  }
   
  footer ul li a:hover {
    color: rgb(138, 223, 69);
    font-size: larger;
  }

  footer ul li img {
    width: 30%;
  }
   
  footer p {
    font-size: 0.8em;
  }
